<div class="container">
    <ul *ngFor="let image of images; index as i;">
        <li>
            <span>
                <img style="cursor: pointer" src={{image.link}} width="120" height="120" data-toggle="modal" data-target="#imgModal">
                <label>Comments: <p>User comments</p></label>
            </span>
        </li>
        <ngb-rating [(rate)]="rating[i]" [readonly]="isMine"></ngb-rating>
    </ul>
</div>

<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imgModalLabel">Image </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img *ngIf="!isMine" (click)="flag()" style="cursor: pointer" src="assets/flag.ico" width="25" height="25">
                <label>Comment: <input [(ngModel)]="comment" type="text" class="form-control"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateProfile">Comment</button>
            </div>
      </div>
    </div>
  </div>