<div class="container d-flex flex-row flex-wrap">
    <div class="p-2" *ngFor="let image of images">
      <img *ngIf="!isModerator" (click)='openModalById(content, image.id)' class="img-thumbnail" style="cursor: pointer" src={{image.url}} data-toggle="modal" data-target="#imgModal">
      <img *ngIf="isModerator" (click)='openModalById(content, image.id)' class="img-thumbnail" style="cursor: pointer" src={{image.url}} data-toggle="modal" data-target="#imgModal">
    </div>
</div>

<ng-template #content let-modal>
  <div *ngIf="!isModerator">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{currentImage.description}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <img class="card-img-top" src={{currentImage.url}}>
        <div class="card-body">
            <div class="card-text">
              <p>Posted by: {{currentImage.poster.username}}</p>
              <p>Average Rating: {{averageRating}}<br></p>
              <p *ngIf='currentRating'>
                User Rating: {{currentRating.rating}}
              </p>
              <!--User comment-->
              <input class="form-control" type="text" placeholder="leave a comment" [(ngModel)]='currentComment'><br>
              <!--Comments-->
              <table class="table">
                <thead><tr><th>Comments:</th></tr></thead>
                <tbody>
                  <tr *ngFor='let comment of imageComments'>
                    <td>
                      {{comment.text}}<br>
                      <sub>by: {{comment.author.username}}</sub>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </div>

  <div *ngIf="isModerator">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{currentImage.description}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <img class="card-img-top" src={{currentImage.url}}>
        <div class="card-body">
            <div class="card-text">
              <p>Posted by: {{currentImage.poster.username}}</p>
              <p>Average Rating: {{averageRating}}<br></p>
              <div class="text-center">
                  <p>Keep Image?</p>
                  <img (click)="accept()" class="ml-2 mr-2" src="../../assets/accept.ico" style="cursor: pointer" height="40" width="40"/>
                  <img (click)="decline()" class="ml-2 mr-2" src="../../assets/decline.ico" style="cursor: pointer" height="40" width="40"/>
              </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</ng-template>