<h2 class="text-center">User Info</h2>
<div>
    <div class="text-center">
        <span>Username: </span>{{username}}
    </div>
    <div class="text-center">
        <span>Status: </span>{{status}}
    </div>
    <div class="text-center">
        <button (click)="close()" class="btn" style="background-color:#FFFCF2;border:solid #403D39" data-toggle="modal" data-target="#profileModal">Edit Profile</button>
    </div>
</div>

<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">User Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Username: <input [(ngModel)]="newUsername" type="text" class="form-control"></label>
        <label>Password: <input [(ngModel)]="newPassword" type="password" class="form-control"></label>
      </div>
      <div *ngIf="isInvalid" class="text-center" style="color: red">
        Invalid username.
      </div>
      <div *ngIf="isEmpty" class="text-center" style="color: red">
        No changes detected.
      </div>
      <div *ngIf="isInvalidChars" class="text-center" style="color: red">
        Username and Password can only be numbers and characters.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="saveChanges()" type="button" class="btn btn-primary" id="updateProfile">Save Changes</button>
      </div>
    </div>
  </div>
</div>
