<h2 class="text-center">User Info</h2>
<div>
    <div class="text-center">
        <span>Username: </span>{{username}}
    </div>
    <div class="text-center">
        <span>Password: </span>{{password}}
    </div>
    <div class="text-center">
        <button class="btn btn-lg btn-outline-primary">Edit Profile</button>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark">Save</button>
    </div>
  </ng-template>

