<h2 class="text-center">Manage comments</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Username</td>
            <td>Comment ID</td>
            <td>Comment</td>
            <td>Image</td>
            <td>Flagged</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let comment of comments'>
            <td>{{comment.author.username}}</td>
            <td>{{comment.id}}</td>
            <td>{{comment.text}}</td>
            <td><img src={{comment.image.url}} height="30" width="30"></td>
            <td>{{comment.flagged}}</td>
            <td>
                <button class="btn btn-group btn-outline-secondary" (click)="dismissComment(comment.id)">dismiss</button>
                <button class="btn btn-group btn-outline-danger" (click)="deleteComment(comment.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
