<nav class="navbar navbar-expand-lg navbar-light sticky-top"  style="background-color: rgb(192, 131, 250); height: 7vh;">
    <span class="navbar-brand">
        <img src="../../../assets/cool-cats-club-big.ico" width="30" height="30" alt="logo">
        Cool Cats Club
    </span>
    <button 
        class="navbar-toggler" 
        type="button"
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf='!isModerator' class="nav-item" style="cursor: pointer">
                <a *ngIf='isSignedIn' [class]="homeClass" (click)="goHome()">Home</a>
            </li>

            <li *ngIf='!isModerator' class="nav-item" style="cursor: pointer">
                <a *ngIf='isSignedIn' [class]="profileclass" (click)="showProfile()">Profile</a>
            </li>

            <li *ngIf='isModerator' class="nav-item" style="cursor: pointer">
                <a *ngIf='isSignedIn' [class]="moderatorHomeClass" (click)="goModeratorHome()">Images</a>
            </li>
            <li *ngIf='isModerator' class="nav-item" style="cursor: pointer">
                <a *ngIf='isSignedIn' [class]="moderatorUsersClass" (click)="showUsers()">Users</a>
            </li>
            <li *ngIf='isModerator' class="nav-item" style="cursor: pointer">
                <a *ngIf='isSignedIn' [class]="moderatorCommentsClass" (click)="showComments()">Comments</a>
            </li>
        </ul>
        <button *ngIf='isSignedIn' class="nav-link" (click)="signOut()">sign out</button>
    </div>
</nav>
