<div class="container">
    <h2 class="text-center">Welcome {{user.username}}</h2>
    <div class="container col-8" style="background-color: black;">
        <div class="card" *ngFor='let image of images'>
            <img class="card-img-top" src={{image.url}}>
            <div class="card-body">
                <p class="card-text">{{image.description}}<br>posted by: {{image.poster.username}}<br>
                    <button 
                        class="btn btn-outline-primary btn-sm btn-block" 
                        (click)='openModalById(content, image.id)'>
                            details
                    </button>
                </p>
            </div>
            <br>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{currentImage.description}}</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      <div class="card">
        <img class="card-img-top" src={{currentImage.url}}>
        <div class="card-body">
            <div class="card-text">
              <p>Posted by: {{currentImage.poster.username}}</p>
              <div class="d-flex flex-row align-middle">
                <p class="mt-2 mr-2">Average Rating: </p>
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                  </span>
                </ng-template>
                <ngb-rating [(rate)]="averageRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
              </div>

              <div class="d-flex flex-row align-middle">
                <p class="mt-2 mr-2">My Rating: </p>
                <ngb-rating [(rate)]="myRating" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < myRating">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </div>


              <!-- <p *ngIf='currentRating'>
                User Rating: {{currentRating.rating}}
              </p> -->
              <!--User comment-->
              <input class="form-control" type="text" placeholder="leave a comment" [(ngModel)]='currentComment'><br>
              <!--Comments-->
              <table class="table">
                <thead><tr><th>Comments:</th></tr></thead>
                <tbody>
                  <tr *ngFor='let comment of imageComments'>
                    <td>
                      {{comment.text}}<br>
                      <sub>by: {{comment.author.username}}</sub>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="postInfo()">Save</button>
    </div>
</ng-template>
