<div class="container">
    <h2 class="text-center">Welcome {{user.username}}</h2>
    <div class="container col-8" style="background-color: black;">
        <div class="card" *ngFor='let image of images'>
            <img class="card-img-top" src={{image.url}}>
            <div class="card-body">
                <p class="card-text">{{image.description}}<br>posted by: {{image.poster.username}}<br>
                    <button 
                        class="btn btn-outline-primary btn-sm btn-block" 
                        (click)='openModalById(content, image.id)'>
                            details
                    </button>
                </p>
            </div>
            <br>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{currentImage.description}}</h4>
      <button type="button" class="btn-outline-danger" aria-label="Close" (click)="flagImage()">
        FLAG
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <img class="card-img-top" src={{currentImage.url}}>
        <div class="card-body">
            <div class="card-text">
              <p>Posted by: {{currentImage.poster.username}}</p>
              <p>Average Rating: {{getAverageRatings()}}<br></p>
              <p *ngIf='currentRating'>
                User Rating: {{currentRating.rating}}
              </p>
              <!--User comment-->
              <input class="form-control" type="text" placeholder="leave a comment" [(ngModel)]='currentComment'><br>
              <!--Comments-->
              <table class="table">
                <thead><tr><th>Comments:</th><th></th></tr></thead>
                <tbody>
                  <tr *ngFor='let comment of imageComments'>
                    <td>
                      {{comment.text}}<br>
                      <sub>by: {{comment.author.username}}</sub>
                    </td>
                    <td>
                      <button class="btn btn-outline-danger btn-sm" (click)="flagComment(comment.id)" >flag</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="postInfo()">Save</button>
    </div>
</ng-template>
