<div class="container">
    <div class="center">
        <h4>Sign up</h4>
        <label for="username">Username <input type="text" id="username" class="form-control" [(ngModel)]='username' value='username'></label><br>
        <label for="password">Password <input type="password" id="password" class="form-control" [(ngModel)]='password' value='password'></label><br>
        <label><button id="login-btn" class="btn btn-primary" (click)="authenticate()">Sign up</button></label><br>
        <a routerLink='/signin'>Sign in!</a>
        <p *ngIf="taken" >
            <ngb-alert [dismissible]="true" (close)="closeAlert()">
              <strong>Username is taken</strong>
            </ngb-alert>
        </p>

    </div>
</div>
