<form (submit)="processForm()">
    <div class="field">
        <label>Name: <input type="text" name="name" [(ngModel)]="title" /></label>
    </div>
    <div class="field">
        <label>Title: <input type="text" name="title" [(ngModel)]="title" /></label>
    </div>
    <div class="field">
        <label>Description: <input type="text" name="description" [(ngModel)]="description" /></label>
    </div>
    <span class="field">
        <span class="radio">
            <label><input (change)="onRadioChange($event)" type="radio" name="imgInput" value='file' checked>File </label>
        </span>
        <span class="radio">
            <label><input (change)="onRadioChange($event)" type="radio" name="imgInput" value='url'>URL </label>
        </span>
        <span *ngIf="type==='file'">
            <input (change)="onFileChange($event)" type="file"/>
        </span>
        <span *ngIf="type==='url'">
            <label>Image: <input type="text" name="url" [(ngModel)]="url" /></label>
        </span>
        <span *ngIf="isInvalid" style="color: red">
            Image File/URL Required
        </span>
    </span>
    <div class="actions">
        <button class="btn" style="background-color:#FFFCF2;border:solid #403D39" type="submit">
            Upload
        </button>
    </div>
</form>
<app-images></app-images>
